// .header {
//   width: 1048px;
//   margin: 0 auto;

    // .wrapper {
    //     display: flex;
    //     height: 78px;
    //     justify-content: space-between;
    //     align-items: center;

        // .logo img {
        //     width: 176px;
        // }

        // .config-menu {
        //     display: flex;
        //     justify-content: space-around;
        //     align-items: center;
        //     font-size: 1.2rem;
        //     width: 353px;

            .help {
                color: #0770e3;
            }

            // .btn-select-country {
            //     width: 195px;
            //     border: 2px solid #dddde5;
            //     border-radius: 0.5rem;
            //     background: none;
            //     padding: 9px 18px;

            // .config-item-wrapper {
            //     display: flex;
            //     justify-content: space-around;
            //     align-items: center;

            .flag {
                width: 16px;
                margin: 0 3px 0 6px;
                border: 1px solid #dddde5;
            }

            .currency {
                margin-left: 6px;
                color: #b2b2bf;
            }
            // }
            // }
            
            // .btn-login {
            //     width: 94px;
            //     padding: 9px 18px;
            //     border: 2px solid #dddde5;
            //     border-radius: 0.5rem;
            //     background: none;
            //     color: #0770e3;
            //     font-weight: 700;
            //     font-size: 1.8rem;
            // }
            
            // .btn-select-country:hover,
            // .btn-login:hover {
            //     border: 2px solid #0770e3;
            // }
        // }
    // }

    // .main-navigation {
        // .search-menu {
        //     display: flex;
        //     justify-content: space-between;
        //     width: 283px;
        //     height: 36px;
    
            // button {
            //     background: #0770e3;
            //     height: 100%;
            //     border: none;
            //     font-size: 1.5rem;
            //     font-weight: 600;
            //     border-radius: 0.3rem 0.3rem 0 0;
            //     color: white;
            //     padding: 3px 12px;

            // .button-wrapper {
            //     display: flex;
            //     justify-content: space-around;
            //     align-items: center;

            .logo {
                width: 20px;
                margin-right: 6px;
                fill: white;
            }
        
            // }
            // }

            // button:hover,
            // .active {
            //     background: #042759;
            // }
        // }
    // }
// }

// .search-area-wrapper {
//     display: flex;
//     flex-direction: column;
//     background: 50% 60% / cover no-repeat url('https://content.skyscnr.com/m/785bdfcbe683606c/Large-Flights-hero-2.jpg?crop=1800px:1375px&quality=76');

// .search-area {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     width: 1096px;
//     margin: 0 auto;
//     min-height: 55rem;
//     padding: 65px 0 95px 0;

//     .title {
//         font-size: 6rem;
//         font-weight: 600;
//         color: white;
//         line-height: 6rem;
//         padding-left: 24px;
//     }
//     .travel-info {
//         height: 222px;
//         background: #02122c;
//         border-radius: 0.3rem;
//     }
// }

.search-area-arrow-wrapper {
    position: relative;
    // min-width: 10rem;
    height: 2.4rem;
    // overflow: hidden;

    .search-area-arrow {
        position: absolute;
        bottom: 1px;
        width: 700rem;
        height: 2.4rem;
        margin-left: 50%;
        transform: translateX(-50%);
        fill: #fff;
    }
}
// }

.footer {
    background: lime;
    .show-more {
        border: none;
        background: transparent;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.select-country-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(247, 245, 245, 0.5);
    text-align: center;

    .select-country {
        background: white;
        width: 384px;
        position: absolute;
        top: 27%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0.5rem;

        // .header-wrapper {
        //     display: flex;
        //     justify-content: space-between;
        //     padding: 15px;
        //     border-bottom: 1px solid #ccc;

        // .title {
        //     font-size: 1.6rem;
        //     font-weight: 700;
        //     line-height: 1.8rem;
        // }
        // .btn-close {
        //     font-size: 1.8rem;
        //     background: white;
        //     border: none;
        // }
        // }

        // .content-wrapper {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-around;
        //     padding: 12px;

            // .select-wrapper {
            //     display: flex;
            //     flex-direction: column;
            //     text-align: left;
            //     margin-bottom: 20px;
                // label {
                //     display: flex;
                //     align-items: center;
                //     font-size: 1.2rem;
                //     font-weight: 700;
                //     padding-bottom: 10px;
                //     svg {
                //         width: 24px;
                //         height: 24px;
                //         margin-right: 3px;
                //         fill: #444560;
                //     }
                // }
                // p {
                //     font-size: 1.2rem;
                // }
                // select {
                //     height: 36px;
                //     padding-left: 8px;
                //     font-size: 1.5rem;
                //     border-radius: 0.4rem;
                // }
                // button {
                //     height: 36px;
                //     padding: 6px 18px;
                //     font-size: 1.9rem;
                //     font-weight: 700;
                //     border-radius: 0.4rem;
                //     border: 2px solid #dddde5;
                //     background: none;
                //     color: #0770e3;
                // }
                // button:first-child {
                //     margin-bottom: 11px;
                //     color: white;
                //     border: none;
                //     background: #00a698;
                // }
            // }

            // .select-wrapper:last-child {
            //     margin-bottom: 0;
            // }
        // }
    }
}

.product-wrapper{
    svg{
        width:20px;
        height: 20px;
    }
}