.help {
  color: #0770e3;
}

.logo {
  width: 20px;
  margin-right: 6px;
  fill: white;
}

.product-wrapper {
  svg {
    fill: #0770e3;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }
}
