.help {
    color: #0770e3;
}

.logo {
    width: 20px;
    margin-right: 6px;
    fill: white;
}

.footer {
    background: lime;
    .show-more {
        border: none;
        background: transparent;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}
